@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;

}
 @font-face {
  font-family: font ;
  src: url(FontsFree-Net-vanitas-bold.ttf);
 }
 #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
.pages-title{
  width: 100%;
  height: 15vh;
  background-color: rgba(185, 154, 76, 0.7);
  display: flex; 
  text-align: center;
  align-items: center  ;  
  justify-content: center;
  
  }
  .pages-title h1{
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
  font-family: font;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
body {
  width: 100% !important;
  min-height: 100vh;
  font-family: 'object-fit: contain, object-position: 50% 50%';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 45px;
  line-height: 55px;
  color: #333;
  font-family: 'object-fit: contain, object-position: 50% 50%';
  font-weight: 400;
}

h2 {
  padding-top: 30px;
  font-size: 50px;
  line-height: 54px;
  color: #000;
  font-family: font ;
  /* font-family: 'object-fit: contain, object-position: 50% 50%'; */

}

h4 {
  font-size: 25px;
  color: #222;
  font-family: 'object-fit: contain, object-position: 50% 50%';

}
h5{
color: #000;
  font-weight: 500;
  font-size: 22px;
  font-family: 'object-fit: contain, object-position: 50% 50%';
}
h6 {
  font-weight: 700px;
  font-size: 12px;
  font-family: 'object-fit: contain, object-position: 50% 50%';

}

p {
  font-size: 19px;
  color: #444;
  margin: 15px 0 20px 0;
  font-family: 'object-fit: contain, object-position: 50% 50%';

}

.section-p1 {
  padding: 60px 80px;
  
}

.section-p2 {
  padding-top: 60px;
}
.section-p3 {
  padding: 60px 10px ;
}
.section-m1 {
  margin: 40px 0;
}

button.but {
  font-family: 'object-fit: contain, object-position: 50% 50%';
  font-size: 14px;
  font-weight: 400;
  padding: 15px 30px;
  color: #BD4B4B;
  background-color: #f8f5f4;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* <<<<<<<<<<<<<<topbar>>>>>>>>>>>>>> */

#topbar {
  background-color:rgba(0, 0, 0, 0.1);
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: rgb(0, 0, 0);
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #000;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #000;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #000;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

/* <<<<<<<<<<<<<<Header>>>>>>>>>>>>>> */


.navbar {

  height: 100vh;
  width: 100%;
}

header {
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  z-index: 999;

}

.media {
  display: none;
}

header.sticky {
  padding: 5px 100px;
  height: 70px;
  border-bottom: 1px solid #F7F6F2;
  background: #fff;
}

header .logo {
  margin-right: -12px;
  position: relative;
  width: 13%;
  top: 3px;
}

header .group1 {

  display: flex;
  justify-content: flex-end;
  width: 27.5%;
  text-align: center;
}

header .group2 {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 27.5%;
  text-align: center;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header ul li {
  position: relative;
  list-style: none;

}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: rgb(57, 57, 57);
  font-weight: 500;
  transition: 0.5s;
  /* text-transform: uppercase; */
  font-family: "Vanitas", Sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 1.5px;
}

header ul li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  color: #BD4B4B;
  background: #BD4B4B;
  /* background: #333; */
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

header ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;

}

header .search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  width: 16.25%;
}

.nav-cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  width: 16.25%;
}

.fa-solid {
  color: #000;
  font-size: 17px;
  border-width: 0px;
}

.fa-solid:hover {
  color: #BD4B4B;
}

/* .searchBox{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  align-items: center;
  align-items: 0 30px;
  transition: 0.5s ease-in-out;
}
.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color : #333;
  font-size: 1.25rem;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0,0, 0.5);
} */
.containers {
  display: flex;
  text-align: center;
  justify-content: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 300px 0px;
}

.Home_img {
  background: url(./img/Aorganik_Set_Interior_Boho_2048x.webp);
  position: absolute;
  height: 100vh;
  background-size: cover;
  background-position: bottom center;
  z-index: -1;
  overflow: hidden;
  margin: 5px 2.5%;
  width: 95%;
}

.Home_opa {
  height: 100vh;
  width: 100%;
  background-color: #333;
  background-position: bottom;
  opacity: 0.5;
}

.banner_desc {
  padding: 40px;
  color: #fff;
  letter-spacing: 1.5px;
}

.title {
  background-position: center;
  font-size: 60px;
  font-weight: 500;
  color: #EAEFF2;
  letter-spacing: 2px;

}

.desc {
  font-weight: 400;
  color: #EAEFF2;


}

.menuToggle {
  position: relative;
  display: none;
}

/* <<<<<<<<<<<<<<Homepage>>>>>>>>>>>>>> */

#MainHome {
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0 80px;
}

#homepage {
  display: grid;
  /* align-items: flex-start; */
  grid-template-rows: 50% 50%;
  margin-top: 60px;
  justify-content: center;
  flex-direction: column;
}

button {
  margin-top: 105px;
  background: none;
  color: #EAEFF2;
  width: 160px;
  height: 40px;
  border: 2px solid #EAEFF2;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 1px;
  margin: 15px;
}

button:hover {
  border: 2px solid #BD4B4B;
  background-color: #BD4B4B;
  color: #fff;
}

.more_product {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 50px;

}

.more_product button {
  border: 2px solid #000;
  background-color: none;
  color: #000;
  width: 180px;
  height: 50px;
}

.more_product button:hover {
  border: 2px solid #BD4B4B;
  background-color: #BD4B4B;
  color: #fff;
}


/* ________________Product__________________ */
#prodect1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Vanitas", Sans-serif;
  text-align: left;
  background: #Fff;
}

.line {
  padding: 5px;
  color: #BD4B4B;
}

.pro_p {

  font-size: 16px;
  color: #AA6C49;
  margin-top: 30px;
}

.pro_F_cont {
  margin: 50px;
}

.pro_title_flex {
  display: flex;
  justify-content: space-around;


}

.pro_title {
  position: relative;

}

.pro_title_sale {
  position: relative;
}

.pro_title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  background-color: #BD4B4B;
  height: 1px;
  box-sizing: border-box;
  width: 180px;
  margin: 6px;

}

#prodect1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#prodect1 .pro {
  background: #fff;
  width: 23%;
  height: 29.5rem;
  min-width: 250px;
  padding: 10px 12px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#prodect1 .pro .Ribbon-Shape {
  position: absolute;
  top: -49px;
  left: -28.5px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#prodect1 .pro .Ribbon-Shape::before {
  content: 'Sale !';
  width: 45%;
  height: 32px;
  position: absolute;
  background: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-transform: uppercase; */
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2rem;

}

#prodect1 .pro img {
  width: 100%;
}

#prodect1 .pro .des {
  text-align: center;
  padding: 10px 0;


}

#prodect1 .pro .des span {
  color: #3f3f3f;
  font-size: 12px;
}

#prodect1 .pro .des h5 {
  padding: 7px;
  color: #000;
  font-weight: 500;
  font-size: 18px;
  font-family: 'object-fit: contain, object-position: 50% 50%';

}

#prodect1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);

}

#prodect1 .pro .des h4 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(65, 64, 64);
}

#prodect1 .pro .cart {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  background-color: #EFB7B7;
  color: #BD4B4B;
  border: 1px solid #BD4B4B;
  position: absolute;
  bottom: 30px;
  right: 9px;
  font-size: 25px;
  padding-right: 8px;
}

.Sbtn {
  list-style: none;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  background-color: rgb(43, 41, 41);
  font-family: 'object-fit: contain, object-position: 50% 50%';
  text-transform: uppercase;

}

.Sbtn:hover {
  border: 1px solid #BD4B4B;
  background-color: #BD4B4B;
  color: #fff;
}

/* _____________________Category______________________ */
#Category {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Vanitas", Sans-serif;
  text-align: left;
  background: #Fff;
}

.button-category {
  background: none;
  color: #EAEFF2;
  width: 140px;
  height: 40px;
  border: 2px solid #EAEFF2;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 1px;
  margin: .5px;
}

.button-category:hover {
  border: 2px solid #EAEFF2;
  color: #EAEFF2;
  background: none;
}

.button-category1 {
  background: none;
  color: #EAEFF2;
  width: 130px;
  height: 40px;
  border: 2px solid #EAEFF2;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 1px;
  margin: .2px;

}

.button-category1:hover {
  border: 2px solid #EAEFF2;
  color: #EAEFF2;
  background: none;
}

.image-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

}

.category_title {
  position: relative;
  margin-top: 210px;
  color: #EAEFF2;
  font-size: 30px;

}

.category_title1 {
  position: relative;
  margin-top: 160px;
  color: #EAEFF2;
  font-size: 25px;

}

.image-1 {
  background-image: url(./img/Wandspiegel\ Sasheer.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-basis: 40%;
  height: 450px;
  z-index: 0;
  object-fit: cover;
  transition: transform .4s ease-in;
}

.image-1:hover {
  transform: scale(1.02);
}

.category-1 {
  height: 450px;
  text-align: start;
  padding-top: 60px;
  padding-left: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.7));
}

.image-2 {
  flex-basis: 40%;
  height: 450px;
  background-image: url(./img/My\ project-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  object-fit: cover;
  transition: transform .4s ease-in;
}

.image-2:hover {
  transform: scale(1.02);
}

.category-2 {
  height: 450px;
  text-align: start;
  padding: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.7));
}

.image-3 {
  background-image: url(./img/cat2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-basis: 25%;
  height: 400px;
  object-fit: cover;
  transition: transform .4s ease-in;
}

.image-3:hover {
  transform: scale(1.02);
}

.category-3 {
  height: 400px;
  text-align: start;
  padding: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.7));
}

.image-4 {
  background-image: url(./img/Federico\ Mirror\ \(1\).jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-basis: 29%;
  height: 400px;
  object-fit: cover;
  transition: transform .4s ease-in;
}

.image-4:hover {
  transform: scale(1.02);
}

.category-4 {
  height: 400px;
  text-align: start;
  padding: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.7));
}

.image-5 {
  background-image: url(./img/Modern\ Interior\ Wooden\ Frame\ Decorative\ Mirror\ -\ 5\ Set.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-basis: 25%;
  height: 400px;
  object-fit: cover;
  transition: transform .4s ease-in;
}

.image-5:hover {
  transform: scale(1.02);
}

.category-5 {
  height: 400px;
  text-align: start;
  padding: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.7));
}

/* _____________________sale______________________ */
.pro_title_sale {
  background-color: rgba(185, 154, 76, 0.7);
  width: 100%;
  height: 4rem;
  display: flex;
  text-align: left;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  position: relative;
  font-family: font;
}

.span-sale {
  position: absolute;
  font-family: 'object-fit: contain, object-position: 50% 50%';
  font-weight: 400;
  color: rgb(255, 255, 255);
  transform: translateX(100%);
  animation: moving 15s linear infinite
}

@keyframes moving {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* _____________________Customize______________________ */

#Customize {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  text-align: center;
  background-image: url(./img/custimaze.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.Customize {
  height: 50vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.60);
}

.Customize_title {
  margin-top: 70px;

  position: relative;
  color: #fff;
  font-size: 55px;
  font-weight: 300;

}

.button-Customize {
  background: none;
  color: #fff;
  width: 190px;
  height: 60px;
  border: 2px solid #ffffff;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1em;
  letter-spacing: 1px;
  margin: .5px;
}

#Customize button:hover {
  background: #BD4B4B;
  color: #eee;
}

/* _____________________Feedback______________________ */
.test-container {
  margin-top: 100px;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.testimonial {
  position: relative;
  max-width: 990px;
  width: 100%;
  row-gap: 30px;
  padding-bottom: 90px;
  padding-top: 20px;
  height: 42vh;
  overflow-x: hidden
}

.testimonial .image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;

}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.slide .quote-icon {
  font-size: 20px;
  color: #BD4B4B;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

/* ____________swiper button css____________ */
.nav-btn {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translateY(30px);
  transition: 0.2s;
}

.nav-btn::hover {
  background-color: rgba(0, 0, 0, 0.1);

}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #000;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: #BD4B4B;
}


/* _____________________End home______________________ */


 
 /* __________________Start Media Query_________________ */

@media screen and (max-width: 768px) {
  .nav-btn {
    display: none;
  }

  .slide p {
    padding: 0 20px;

  }
}


/* __________________reponosive nav_________________ */


@media (max-width : 850px) {
  h2 {
    padding-top: 30px;
    font-size: 30px;
    line-height: 54px;
    color: #333;
    font-family: 'object-fit: contain, object-position: 50% 50%';
}
.pro_p {
  font-size: 12px;
  color: #AA6C49;
}
.pro_pabout{
  font-size: 17px;
  color: #AA6C49;
}
.section-p1 {
  padding: 30px 60px;
}
  .category-1 {
    height: 450px;
    text-align: start;
    padding-top: 50px;
    padding-left: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.7));
  }

  .image-1 {
    background-image: url(./img/Wandspiegel\ Sasheer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    flex-basis: 40%;
    height: 450px;
    z-index: 0;
    object-fit: cover;
    transition: transform .4s ease-in;
  }

  .category-2 {
    height: 450px;
    text-align: start;
    padding-top: 50px;
    padding-left: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.7));
  }

  .image-2 {
    background-image: url(./img/My\ project-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    flex-basis: 52%;
    height: 450px;
    z-index: 0;
    object-fit: cover;
    transition: transform .4s ease-in;
  }
  .category_title1 {
    position: relative;
    margin-top: 130px;
    color: #EAEFF2;
    font-size: 22px;
  }
  .Customize_title {
    margin-top: 50px;
    position: relative;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
}
.testimonial {
  position: relative;
  max-width: 990px;
  width: 100%;
  row-gap: 30px;
  padding-bottom: 90px;
  padding-top: 10px;
  height: 40vh;
  overflow-x: hidden;
}
.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 10px;
  font-weight: 400;
  color: #333;
}
.testimonial .image {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
}
 
/* ______________single product____________ */
#prodetails {
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image{
  width: 100%;
  margin-right: 0px;
}
#prodetails .single-pro-details {
  width: 100%;
}

  /* header{
    display: none;
  } */
  /* header .group1 {
   display: none;
    justify-content: flex-end;
    width: 27.5%;
    text-align: center;
   
}
header .group2 {
  display: none;
  justify-content: flex-start;
  width: 27.5%;
  text-align: center;
}
header .search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  width: 16.25%;
} */
  /* .media{
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
  z-index: 999;
}
.media .group{
  width:100%;
  height: 100vh;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  background-color: #fff;
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}
.media ul {
  
  display: flex;
 
  top: 45px;
  right: 0;
  */
  /* font-size: 20px; */

}
#abotUs{
  margin:0 auto;
  padding:4rem;
  text-align: center !important;
  color: #7d7d7d;
 }
 .heading1{
  font-size: 5rem;
   color: black;
   text-align: center;
   text-transform: capitalize;
 }
 .about{
  padding: 5%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 }
 .p1{
  padding-right: 2%;
}
#imagabout1{
--s: 10px; /* control the size */
padding: var(--s);
border: calc(2*var(--s)) solid #0000;
outline: 1px solid #000;
outline-offset: calc(-1*var(--s));
background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}